
.min-color {
    color: #0AAD0A;
}

.min-bg-color {
    background-color: #0AAD0A;
}
.btn-min{
    border: 1px solid #0AAD0A;
    border-radius: 6px;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

/*!=============Navbar==================== */

nav .navbar-nav .nav-link {

    transition: all 3ms ease-in-out;

}

nav .navbar-nav .nav-link:hover {
    color: #0AAD0A;

}


nav .navbar-nav .nav-link .fa-facebook {
    color: #4267B2;

}

nav .navbar-nav .nav-link .fa-linkedin {
    color: #0e76a8;

}

nav .navbar-nav .nav-link .fa-github {
    color: #000;

}

/*!===================Register======================= */

.form-group input::placeholder {
    color: #999;

}



.form-group label {
    margin-left: 2px;

}

.form-group button {
    margin-left: 2px;

}

/* !========================== */
.cart:hover {
    background-color: #128d12;
     
}

